A database is a structured collection of data that is organized in a way that allows for efficient storage, retrieval, and manipulation of information. Databases are used to store and manage data for various applications and systems, ranging from simple personal databases to complex enterprise-level systems.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of database management systems.

1) SQL Databases:

SQL databases are relational databases that store data in tables with rows and columns. The relationships between tables are defined by using a schema.

SQL databases require a predefined schema that defines the structure of the data. Changes to the schema can be complex and require careful planning.

SQL databases follow the ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring data integrity and reliability.

Examples of SQL databases include MySQL, PostgreSQL, Oracle, and Microsoft SQL Server.

--------------------------------------------------------------------------------------------------------------------------------
2) NOSQL Databases:

NoSQL databases are schema-less or have a flexible schema, allowing for the storage of unstructured or semi-structured data. This flexibility is beneficial for handling diverse and evolving data.

NoSQL databases follow the BASE (Basically Available, Soft state, Eventually consistent) model, which prioritizes availability and fault tolerance over strict consistency.

NoSQL databases come in various types, including document-oriented (e.g., MongoDB), key-value stores (e.g., Redis), wide-column stores (e.g., Apache Cassandra), and graph databases (e.g., Neo4j).

--------------------------------------------------------------------------------------------------------------------------------The choice between SQL and NoSQL databases depends on the specific requirements of a project. SQL databases are typically favored for applications with complex relationships and transactions, while NoSQL databases are chosen for their flexibility and scalability, especially in scenarios with large amounts of unstructured or rapidly changing data.


DDL stands for Data Definition Language in the context of database management systems (DBMS). 
It is a subset of SQL (Structured Query Language) used for defining and managing the structure of a database.
DDL statements allow you to perform operations on database objects such as tables, indexes, and views.


1) CREATE:

Used to create a new database object, such as a table or index.

Example:

CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    BirthDate DATE
);

This SQL statement creates a table named "Employees" with columns for EmployeeID, FirstName, LastName, and BirthDate.

-------------------------------------------------------------------------------------------------------------------------------- 
2) DROP:

Used to delete an existing database object, such as a table or index.

Example:

DROP TABLE Employees;

This SQL statement deletes the "Employees" table and all its associated data.

-------------------------------------------------------------------------------------------------------------------------------- 
3) ALTER:

Used to modify the structure of an existing database object, such as adding or removing columns in a table.

Example:

ALTER TABLE Employees
ADD COLUMN Email VARCHAR(100);

This SQL statement adds a new column named "Email" to the existing "Employees" table.

-------------------------------------------------------------------------------------------------------------------------------- 
4) TRUNCATE:

Used to remove all rows from a table, but the table structure remains intact.

Example:

TRUNCATE TABLE Employees;

This SQL statement removes all rows from the "Employees" table, effectively resetting the table while keeping its structure.
-------------------------------------------------------------------------------------------------------------------------------- CREATE is used for creating new database objects, DROP is used for deleting existing objects, ALTER is used for modifying the structure of existing objects, and TRUNCATE is used for removing all rows from a table while preserving its structure. These DDL statements are essential for managing the schema of a database.


DML stands for Data Manipulation Language in the context of database management systems (DBMS). 
It is a subset of SQL (Structured Query Language) used for manipulating data stored in a database.
DML statements are responsible for performing operations such as inserting, updating, and deleting data within database tables.

1) INSERT:

Used to insert new records or rows into a table.

Example:

INSERT INTO Employees (EmployeeID, FirstName, LastName, HireDate)
VALUES (1, 'John', 'Doe', '2023-01-01');

This SQL statement inserts a new record into the "Employees" table with values for the columns EmployeeID, FirstName, LastName, and HireDate.

-------------------------------------------------------------------------------------------------------------------------------- 
2) UPDATE:

Used to modify existing records in a table.

Example:

UPDATE Employees
SET LastName = 'Smith'
WHERE EmployeeID = 1;

This SQL statement updates the "LastName" column of the record in the "Employees" table where the "EmployeeID" is 1, changing it from 'Doe' to 'Smith'.

-------------------------------------------------------------------------------------------------------------------------------- 
3) DELETE:

Used to remove records from a table based on specified conditions.

Example:

DELETE FROM Employees
WHERE EmployeeID = 1;

This SQL statement deletes the record from the "Employees" table where the "EmployeeID" is 1.

-------------------------------------------------------------------------------------------------------------------------------- DML statements INSERT, UPDATE, and DELETE are essential for manipulating the data stored in database tables. INSERT is used to add new records, UPDATE is used to modify existing records, and DELETE is used to remove records based on specified conditions. These statements allow for the dynamic management and manipulation of data within a database.


DQL stands for Data Query Language in the context of database management systems (DBMS).
It is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database.
The primary DQL statement is SELECT, which allows you to specify the data you want to retrieve from one or more tables.
It allows you to specify the columns you want, the table from which to retrieve data, and conditions to filter the results.

SELECT:
Used to retrieve data from one or more tables based on specified conditions.

Example:

SELECT FirstName, LastName, HireDate
FROM Employees
WHERE HireDate >= '2023-01-01';

This SQL statement selects the "FirstName," "LastName," and "HireDate" columns from the "Employees" table where the "HireDate" is on or after January 1, 2023.

Explanation:
SELECT clause: Specifies the columns you want to retrieve (FirstName, LastName, HireDate).
FROM clause: Specifies the table from which you want to retrieve data (Employees).
WHERE clause: Specifies the conditions that the selected data must meet (HireDate >= '2023-01-01').


Primary Key:

A primary key is a field or a set of fields in a database table that uniquely identifies each record in the table.
It serves as a unique identifier for the records, and no two records in the table can have the same primary key value.
The primary key is used to enforce the entity integrity of the database, ensuring that each record can be uniquely identified.

Some key points about primary keys:

1) Uniqueness:
Every value in the primary key column (or columns) must be unique within the table.

2) Non-Null:
The primary key column (or columns) cannot contain NULL values, meaning each record must have a valid and non-null primary key.

3) Indexed:
Typically, a primary key is automatically indexed to enhance search and retrieval performance.

Example:
CREATE TABLE Students (
    StudentID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Age INT
);

StudentID column is the primary key for the "Students" table.

--------------------------------------------------------------------------------------------------------------------------------Foreign Key:

A foreign key is a column or a set of columns in a table that refers to the primary key of another table.
It establishes a link between the two tables by referencing the primary key of one table as a foreign key in another.
The purpose of a foreign key is to ensure referential integrity, meaning that relationships between tables are maintained.

Some key points about foreign keys:

1) References Primary Key: 
A foreign key references the primary key of another table, establishing a relationship between the two tables.

2) Ensures Referential Integrity: 
The foreign key ensures that values in the referencing table (child table) correspond to valid values in the referenced table (parent table).

Example:

CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    ProductID INT,
    Quantity INT,
    FOREIGN KEY (ProductID) REFERENCES Products(ProductID)
);

CREATE TABLE Products (
    ProductID INT PRIMARY KEY,
    ProductName VARCHAR(50),
    Price DECIMAL(10,2)
);

ProductID column in the "Orders" table is a foreign key that references the ProductID column in the "Products" table.
This establishes a relationship between the "Orders" and "Products" tables based on the ProductID.

In [21]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\smit\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\smit\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [27]:
import mysql.connector

# Establish a connection to MySQL
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="root"
)
print(mydb)

# Create a cursor object to interact with the database
mycursor=mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT *FROM test.practise")

# Fetch and print the results
results = mycursor.fetchall()
for row in results:
    print(row)
    
# Close the cursor and connection
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000024F0A0BD2B0>
(123, 'smit')
(456, 'smit')
(9524, 'Joshi')

1) cursor() method:

The cursor() method creates a cursor object that allows you to interact with the database.
It is called on the connection object, and the cursor is used to execute SQL queries and fetch results.

cursor = connection.cursor()

2) execute() method:

The execute() method is used to execute a SQL query on the database using the cursor.
It takes a SQL query as its argument and executes that query.

query = "SELECT * FROM your_table_name"
cursor.execute(query)

In a SQL query, the clauses are generally executed in a specific order. 

1) FROM:
Specifies the table or tables from which to retrieve data.

2) JOIN:
 Combines rows from two or more tables based on a related column between them.

3) WHERE:
Filters the rows based on specified conditions.

4) GROUP BY:
Groups the result set by one or more columns.

5) HAVING:
Filters the grouped rows based on specified conditions.

6) SELECT:
Specifies the columns to be retrieved in the result set.

7) DISTINCT:
Removes duplicate rows from the result set.

8) ORDER BY:
Sorts the result set based on specified columns and sort orders.

9) LIMIT/OFFSET:
Limits the number of rows returned or skips a specified number of rows.